/*
CSS custom
 */
.icon-face {
  margin-left: -1.2rem;
  margin-bottom: -1.2em;
  margin-right: 0.6rem;
}

.icon-face svg {
  height: 1.5rem;
  width: 1.5rem;
}

img.badge-100 {
  max-width: 100%;
  max-height: 100%;
}

img.bg-bw {
  -webkit-filter: grayscale(100%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}